<form>

  <div class="form-group">
      <label for="content">Content</label>
      <textarea  name="content" id="content" rows="10" cols="10"   class="form-control"></textarea>
    </div>
  <div class="form-row">

    <div class="col">
      Author:<input type="text" class="form-control" placeholder="Author">
    </div>
    <div class="col">
     Keywords: <input type="text" class="form-control" placeholder="keywords">
    </div>
    <div>
      Date:<datepicker></datepicker>
    </div>
  </div>
   </form>

